@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

:root {
  --font-primary: 'Kelly Slab', cursive;
  --font-secondary: 'Alegreya SC', serif;
  --color-primary: #1EB763;
  --color-secondary: #01BB5A;
  --color-bg: white;
  --color-bg-secondary: #F5F6F7;
  --color-text-primary: #2C312C;
  --color-text-secondary: #969F9D;
  --padding-s: 8px;
  --padding-m: 16px;
  --padding-l: 32px;
}

body {
  background-color: var(--color-primary);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-container {
  margin: var(--padding-l);
  padding: var(--padding-m) 15%;
  max-height: calc(100vh - 2 * var(--padding-m) - 2 * var(--padding-l));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-secondary);
  text-align: center;
}

h1 {
  color: var(--color-primary);
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.ant-table-filter-column {
  flex-direction: column;
}

@media (max-width: 768px) {
  .app-container {
    margin: var(--padding-s);
    padding: var(--padding-m) var(--padding-s);
    
  max-height: calc(100vh - 2 * var(--padding-s) - 2 * var(--padding-m));
  }
}